<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
    <title>Data on the Downs CRM Tool</title>
</head>
<body class="min-h-screen bg-gray-100">
    <div class="flex min-h-screen">
        <!-- Sidebar -->
        <div class="bg-gray-800 text-white w- space-y-6 py-7 px-2">
            <!-- Sidebar content -->
            {{template "sidebar.html"}}
        </div>

        <!-- Main content area including topbar -->
        <div class="flex-grow flex flex-col">
            <!-- TopBar -->
            <nav class="bg-gray-800 text-white w-full">
                <div class="mx-auto px-4 sm:px-6 lg:px-8 py-4 flex justify-between items-center">
                    <h1 class="text-lg font-semibold">Dashboard</h1>
                    <button
                        hx-get="create-lead-modal"
                        hx-trigger="click"
                        hx-target="#modal-container"
                        hx-swap="innerHTML"
                        class="inline-flex items-center px-4 py-2 border border-transparent rounded-md text-sm font-medium text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
                    >
                        Create Lead
                    </button>
                </div>
            </nav>

            <!-- Content Area -->
            <main class="flex-grow p-6">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg p-6">
                    <!-- Content goes here -->
                    <div id="modal-container" class="hidden"></div> <!-- Modal container -->
                </div>
            </main>
        </div>
    </div>

    <script src="https://unpkg.com/htmx.org"></script>
    <script>
        function closeModal() {
            var modalContainer = document.getElementById("modal-container");
            if (modalContainer) {
                modalContainer.classList.add('hidden');
                modalContainer.innerHTML = "";
            }
        }

        document.body.addEventListener("click", function (event) {
            if (event.target.matches(".close-modal")) {
                closeModal();
            }
        });

        document.body.addEventListener("htmx:afterSwap", function (event) {
            if (event.target.id === "modal-container") {
                var modalContainer = document.getElementById("modal-container");
                if (modalContainer) {
                    modalContainer.classList.remove('hidden');
                }
            }
        });
    </script>
</body>
</html>
