<div
	class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"
	id="modal-overlay"
>
	<!-- Modal -->
	<div
		class="relative top-10 mx-auto p-5 border w-full max-w-lg shadow-lg rounded-md bg-white"
		style="margin-top: 5%"
	>
		<div class="text-center">
			<h3 class="text-lg leading-6 font-medium text-gray-900 mb-4">
				Add New Lead
			</h3>

			<!-- Form -->
			<form
				id="newLeadForm"
				class="space-y-4"
				hx-post="/add-lead/"
				hx-swap="beforeend"
			>
				<!-- Input Fields -->
				<input
					type="text"
					name="firstName"
					id="lead-firstName"
					class="w-full px-3 py-2 border rounded"
					placeholder="First Name"
				/>
				<input
					type="text"
					name="lastName"
					id="lead-lastName"
					class="w-full px-3 py-2 border rounded"
					placeholder="Last Name"
				/>
				<input
					type="email"
					name="email"
					id="lead-email"
					class="w-full px-3 py-2 border rounded"
					placeholder="Email"
				/>
				<input
					type="text"
					name="companyName"
					id="lead-companyName"
					class="w-full px-3 py-2 border rounded"
					placeholder="Company Name"
				/>
				<input
					type="text"
					name="phone"
					id="lead-phone"
					class="w-full px-3 py-2 border rounded"
					placeholder="Phone"
				/>
				<input
					type="text"
					name="title"
					id="lead-title"
					class="w-full px-3 py-2 border rounded"
					placeholder="Title"
				/>
				<input
					type="text"
					name="website"
					id="lead-website"
					class="w-full px-3 py-2 border rounded"
					placeholder="Website"
				/>
				<input
					type="text"
					name="industry"
					id="lead-industry"
					class="w-full px-3 py-2 border rounded"
					placeholder="Industry"
				/>
				<input
					type="text"
					name="source"
					id="lead-source"
					class="w-full px-3 py-2 border rounded"
					placeholder="Source"
				/>

				<!-- Submit Button -->
				<div class="space-y-4">
	
					<button
					type="submit"
					class="inline-flex items-center py-2 px-4  bg-blue-500 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-blue-700 active:bg-blue-700 focus:outline-none focus:border-blue-700 focus:ring focus:ring-blue-200 disabled:opacity-25 transition"
					>
					Submit
				</button>
				<!-- Close Button -->
				<button
				onclick="closeModal()"
				class=" inline-flex items-center py-2 px-4  bg-red-500 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-red-700 active:bg-red-700 focus:outline-none focus:border-red-700 focus:ring focus:ring-red-200 disabled:opacity-25 transition"
				>
				Close
			</button>
		</div>
			</form>

		</div>
	</div>
</div>
<script>
	function closeModal() {
		var modalOverlay = document.getElementById("modal-overlay");
		if (modalOverlay) {
			modalOverlay.style.display = "none";
		}
	}
</script>
